{erl_opts, [
    warnings_as_errors,
    warn_missing_spec,
    warn_untyped_record
]}.

{deps, [
    {jiffy, {git, "https://github.com/davisp/jiffy.git", {tag, "0.15.2"}}}
]}.

{dialyzer, [
    {warnings, [no_return, no_unused]},
    {get_warnings, true},
    {plt_extra_apps, []},
    {plt_location, local},
    {plt_prefix, "plt"},
    {base_plt_apps,  []},
    {base_plt_location, './.plt' },
    {base_plt_prefix, "plt"}
]}.

{profiles, [
    {prod, [{erl_opts, [no_debug_info]}]},
    {test, [{erl_opts, [debug_info]}]}
]}.
